@font-face {
  font-family: Venus;
  src: url(./fonts/venusrisingrg-bold.ttf) format("truetype");
}

@font-face {
  font-family: monserrat;
  src: url(./fonts/Montserrat-Bold.otf) format("opentype");
}

body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.suntext{
  opacity: 0;
}


.suntext .h1{
  position: absolute;
  color: aliceblue;
  font-family: Venus;
  font-weight: bolder;
  text-align: center;
  top: 2%;
  font-size: 3em;
  width: 100%;
}

.suntext button{
  position: absolute;
  top:60%;
  width: 20%;
  transform: translateX(200%);
  padding: 10px;
  font-family: venus;
  background-color: black;
  color: white;
  border: none;
  transition: all 1s ease-in-out;
}

.suntext button:hover{

  background-color: red;
}

.suntext .p{
  position: absolute;
  color: white;
  top: 92%;
  text-align: center;
  width: 100%;
  font-family: monserrat;
  font-size: smaller;
}

.main_element{
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  top:30%;
  left: 5%;
  width: 15%;
  text-align: center;
  font-family: venus;
}

#ele{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 4%;
}

.elediv{
  margin-right: 4%;
  width: 100%;
  text-align: center;
  border: solid 2px white;
  font-family: venus;
  font-size: xx-small;
  transition: all 1s ease;
}

 /* Different hover colors for each .elediv */
 .elediv:nth-child(1):hover {
  background-color: red;
}

.elediv:nth-child(2):hover {
  background-color: blue;
}

/* Adjust selectors for subsequent rows */
#ele:nth-of-type(2) .elediv:nth-child(1):hover {
  background-color: green;
}

#ele:nth-of-type(2) .elediv:nth-child(2):hover {
  background-color: yellow;
}

#ele:nth-of-type(3) .elediv:nth-child(1):hover {
  background-color: purple;
}

#ele:nth-of-type(3) .elediv:nth-child(2):hover {
  background-color: orange;
}

.funfact{
  position: absolute;
  color: white;
  font-family: monserrat;
  font-size: smaller;
  text-align: right;
  top: 30%;
  right: 4%;
}

.funfacth2{
  font-family: venus;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.fade-in {
  opacity: 0; /* Start hidden */
  animation: fadeIn 2s ease-out forwards; /* Apply the fade-in animation */
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  opacity: 1; /* Start visible */
  animation: fadeOut 1s ease-out forwards; /* Apply the fade-out animation */
}



.planet_text{
  position: absolute;
  color: white;
  top: 25%;
  left: 5%;
  opacity: 0;
}

.planet_h1{
  font-family: venus;
}

.planet_p{
  font-family: monserrat;
}

.planet_text .planetmainelement{
  display: flex;
  flex-direction: column;
  font-family: venus;
  font-size: small;
}

.pmep-in{
  display: flex;
  flex-direction: row;
}

.pmep-in-text{
  margin-right:3%;
  border: solid 2px white;
  padding-left: 9px;
  padding-right: 9px;
}

.next{
  position: absolute;
  top: 112%;
  padding: 10px;
  width: 30%;
  text-align: left;
  font-family: monserrat;
  transition: all 1s ease-in-out;
  border: none;
}

.next:hover{
  background-color: blanchedalmond;
}


.otherplanettext{
  display: none;
}